
.brick {
	display: inline-block;
	margin: .1cm;
}

.brick > header,
.brick > h1 {
	background-color: rgba(0,0,0,.6);
	border-radius: .2cm .2cm 0 0;
	color: white;

	margin: 0;
	padding: .1cm .2cm 0;

	font-size: .4cm;
	font-weight: normal;
}

.brick > .brick-contents {
	background-color: rgba(255,0,0,.6);
	color: white;
}

.brick > .brick-contents > iframe {
	border-width: 0;
	margin: 0;
	display: block;
}